<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ get_url(path='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=JetBrains+Mono:wght@400;600&display=swap" rel="stylesheet">
    {% block extra_head %}{% endblock extra_head %}
    <title>{% block title %}Benjamin Kruger{% endblock title %}</title>
</head>
<body>
    <header>
        <h1 class="site-title">
            <a href="{{ get_url(path='/') }}">Benjamin Kruger</a>
        </h1>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
