{% extends "base.html" %}
{% block title %}Benjamin Kruger{% endblock %}
{% block content %}
<div>
    Hey! I'm a programmer with a background in pure mathematics, more specifically, Riemannian geometry and geometric partial differential equations. This is where I write about mathematics, programming, and things I find interesting. You can find me on <a href="https://github.com/benjamin-kruger" target="_blank">GitHub</a> or send me an <a href="mailto:contact@benjamin-kruger.com">email</a>.
</div>

<hr>

<h2>Articles</h2>
<ul class="article-list">
    <li>
        <a href="/articles/choosing-the-best-shape-with-differential-equations">Choosing the best shape with differential equations</a>
        <span class="date">11 Aug, 2024</span>
    </li>
</ul>

{% endblock %}
