{% extends "base.html" %}
{% block title %}Benjamin Kruger{% endblock %}
{% block content %}
<div>
    Hey! I'm a programmer with a background in pure mathematics, more specifically, Riemannian geometry and geometric partial differential equations. This is where I write about mathematics, programming, and things I find interesting. You can find me on <a href="https://github.com/benjamin-kruger" target="_blank">GitHub</a> or send me an <a href="mailto:contact@benjamin-kruger.com">email</a>.
</div>

<hr>

<h2>Mathematical Writing</h2>
<ul>
    <li>
        <a href="/static/prescribed_cross_curvature.pdf">The prescribed Cross Curvature problem</a>
    </li>
    <li>
        <a href="/static/intro_to_supergeometry.pdf">An introduction to supergeometry</a>
    </li>
    <li>
        <a href="/static/honours_thesis.pdf">The Ricci flow on homogeneous supermanifolds</a>
    </li>
    <li>
        <a href="/static/geometric_invariant_theory.pdf">Geometric invariant theory</a>
    </li>
</ul>

<hr>

<h2>Blog Posts</h2>
<ul class="article-list">
    <li>
        <a href="/articles/choosing-the-best-shape-with-differential-equations">Choosing the best shape with differential equations</a>
        <span class="date">11 Aug, 2024</span>
    </li>
</ul>

{% endblock %}
